@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.delivery__subtitle, .collections__mens-subtitle, .collections__women-subtitle, .collections__whole-name {
  font-family: 'Montserrat';
  font-weight: 300;
}

.header .slider .header-sale__headline, .header .slider .header-sale__button, .delivery__title {
  font-family: 'Montserrat';
  font-weight: 400;
}

.header__top-main .nav__items-link, .header__top-main .nav__drropdown-itemslink, .header__top-itemslink, .collections__mens-title, .collections__women-title {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.modeles__item-name {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.header .slider .header-sale__title, .header .slider .header-sale__priceold, .header .slider .header-sale__pricnew, .modeles__item-price, .title {
  font-family: 'Montserrat';
  font-weight: 700;
}

.header .slider .header-sale__button {
  width: 240px;
  height: 55px;
  padding: 17px 29px;
  display: inline-block;
  text-align: center;
}

.header-w {
  width: 100%;
  padding: 50px 0px 70px;
  background: #F9F6F1;
}

.header {
  width: 100%;
}

.header__top {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-main {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-main .nav {
  margin: 11px 0px;
}

.header__top-main .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-main .nav .nav__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-main .nav .nav__items:not(:first-child) {
  margin-left: 35px;
}

.header__top-main .nav__items-link {
  color: #000000;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__top-main .nav__items-drropdown {
  position: relative;
  left: 5px;
}

.header__top-main .nav__items-drropdown:hover {
  background-color: blueviolet;
}

.header__top-main .nav__items-drropdown-trigger {
  position: relative;
  width: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__top-main .nav__items-drropdown-trigger:hover {
  background-color: blueviolet;
}

.header__top-main .nav__items-drropdown-trigger::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-color: #000000 transparent transparent;
  border-style: solid;
  border-width: 5px 3px 0px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  top: 7px;
}

.header__top-main .nav__items-list {
  position: absolute;
  width: 105px;
  height: 0;
  min-height: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  background-color: blueviolet;
}

.header__top-main .nav .nav__items-drropdown.active .nav__items-list {
  position: absolute;
  height: auto;
  min-height: 20px;
  overflow: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__top-main .nav__drropdown-items {
  list-style: none;
  padding: 5px 10px;
}

.header__top-main .nav__drropdown-items:hover {
  background-color: antiquewhite;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__top-main .nav__drropdown-itemslink {
  color: #000000;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__logo {
  max-width: 201px;
  width: 100%;
}

.header__top-items {
  margin: 11px 0px;
}

.header__top-itemslink {
  color: #000000;
  text-decoration: none;
}

.header__top-itemslink:nth-child(2) {
  margin-left: 35px;
}

.header__top-basket-w {
  margin-top: 5px;
}

.header__top-basketlink {
  display: inline-block;
}

.header__top-countlink {
  display: inline-block;
}

.header__top-cols {
  margin: 0px 0px 5px 15px;
}

.header .header-sale-w {
  width: 100%;
}

.header .slider {
  /* Лента слайдов */
  /* Активная точка */
  /* Элемент точки */
}

.header .slider .slick-list {
  overflow: hidden;
  margin-bottom: 130px;
}

.header .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .slider li {
  list-style: none;
}

.header .slider li:not(:first-child) {
  margin-left: 15px;
}

.header .slider li.slick-active button {
  background-color: #D7B399;
}

.header .slider li button {
  width: 40px;
  height: 7px;
  background: #CECECE;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.header .slider .header-sale {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .slider .header-sale__left {
  max-width: 570px;
  width: 100%;
}

.header .slider .header-sale__headline {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 35px;
}

.header .slider .header-sale__title {
  color: #000000;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  margin-bottom: 55px;
}

.header .slider .header-sale__button {
  background: #D7B399;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.header .slider .header-sale__right {
  padding: 40px 0px 20px;
  max-width: 556px;
  width: 100%;
  height: 377px;
  background: url(../images/running_shoes_PNG5823.png) no-repeat;
}

.header .slider .header-sale__priceold {
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14px;
}

.header .slider .header-sale__pricnew {
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}

#delivery-w {
  width: 100%;
  background: #212121;
  padding: 80px 0px 69px;
}

.delivery {
  width: 100%;
}

.delivery__inner {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.delivery__title {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.delivery__subtitle {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

#collections-w {
  width: 100%;
}

.collections {
  width: 100%;
}

.collections__inner {
  width: 100%;
}

.collections__mens-womens-w {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collections__mens {
  width: 100%;
  background-color: #F9F6F1;
}

.collections__mens-inner {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.collections__mens-title {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
}

.collections__mens-subtitle {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.collections__mens-button {
  width: 80px;
  height: 30px;
  background-image: url(../images/arrow-btn.png);
  background-repeat: no-repeat;
  background-color: #D7B399;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}

.collections__womens {
  width: 100%;
  background-color: #F4F4F4;
}

.collections__women-inner {
  margin: 60px 0px 0px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.collections__women-title {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
}

.collections__women-subtitle {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
}

.collections__women-button {
  width: 80px;
  height: 30px;
  background: #D7B399;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-image: url(../images/arrow-btn.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.collections__whole {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.collections__whole-top {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collections__whole-itemstop {
  width: 277px;
  height: 236px;
  background: url(../images/collections-img.png), #F9F6F1;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.collections__whole-bottom {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collections__whole-itemsbottom {
  width: 277px;
  height: 236px;
  background: url(../images/collections-img.png), #F9F6F1;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.collections__whole-name {
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-left: 30px;
}

#modeles-w {
  width: 100%;
}

.modeles {
  width: inherit;
}

.modeles__inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.modeles__row {
  max-width: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modeles__item {
  position: relative;
  max-width: 255px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 28px;
}

.modeles__item::before, .modeles__item::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #D7B399;
}

.modeles__item::before {
  left: -2px;
  top: -3px;
  border-right: none;
  border-bottom: none;
}

.modeles__item::after {
  right: -2px;
  top: -3px;
  border-left: none;
  border-bottom: none;
}

.modeles__item-name {
  color: #000000;
  margin: 25px 0px 15px;
}

.modeles__item-price {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D7B399;
}

.modeles__item-price::before, .modeles__item-price::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #D7B399;
}

.modeles__item-price::before {
  left: -79px;
  top: 15px;
  border-top: none;
  border-right: none;
}

.modeles__item-price::after {
  right: -79px;
  top: 15px;
  border-left: none;
  border-top: none;
}

.title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 103px;
}
/*# sourceMappingURL=styles.css.map */